.App {
  text-align: center;
}
.author-list__item {
  display: block;
  font-size: 20px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.book-card {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mb-0 {
  margin-bottom: 0;
}
.mb-30 {
  margin-bottom: 30px;
}
